<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

<!-- css -->
<th:block th:replace="layout/css.html"></th:block>

<title>NoticeBoard Form</title>

<style>
    .fileDrop {
        width: 400px;
        height: 100px;
        border: 1px dotted blue;
    }
</style>

</head>
<body>
	<!-- header -->
    <div th:replace="layout/header::header"></div>
    
    <div class="container">
    	<form name="form" id="form" th:object="${noticeBoardDto}" action="#"  >
    
        <div class="page-header">
            <h1 th:if="!*{idx}">Post Register</h1>
            <h1 th:if="*{idx}">Post Update</h1>
        </div>
        <br/>
        <table class="table" style="table-layout:fixed; word-break:break-all;">
        	<colgroup>
			    <col width="15%" />
			    <col width="85%" />
			</colgroup>
            <tr>
                <th style="padding:13px 0 0 15px">Active Status</th>
                <td>
                    <div class="pull-left">
                        <select name="activeStatus" th:field="*{activeStatus}" class="form-control input-sm">
                            <option th:value="ACTIVE">Active</option>
                            <option th:value="INACTIVE">Inactive</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr th:if="*{idx}">
                <th style="padding:13px 0 0 15px;">Created Date</th>
                <td><input type="text" class="col-md-1 form-control input-sm" readonly="readonly" th:value="*{#temporals.format(createdDate,'yyyy-MM-dd HH:mm')}"/></td>
            </tr>
            <tr th:if="*{idx}">
                <th style="padding:13px 0 0 15px;">Modified Date</th>
                <td><input type="text" class="col-md-1 form-control input-sm" readonly="readonly" th:value="*{#temporals.format(lastModifiedDate,'yyyy-MM-dd HH:mm')}"/></td>
            </tr>
            <tr>
                <th style="padding:13px 0 0 15px;">Title</th>
                <td><input type="text" name="title" id="title" class="col-md-1 form-control input-sm" th:value="*{title}"/></td>
            </tr>
            <tr>
                <td colspan="2"><textarea name="content" id="summernote" class="summernote" th:text="*{content}"></textarea></td>
            </tr>
            <tr>
                <th style="padding:13px 0 0 15px;">Attached File</th>
                <td>
                	<input type="file" multiple="multiple" name="file" id="file"/>
                	<div id="fileDrop" class="fileDrop"></div>
                </td>
                <!-- <td><input type="file" name="file"/></td> -->
            </tr>
            <tr>
                <th style="padding:13px 0 0 15px;">Uploaded Attached File</th>
                <td>
                	<div > Total file size(up to 20 MB): <span id="totalFileSize"> 0 MB</span></div>
                	<div id="attachedFileList"></div>
                	<div id="attachedFileList" th:each="attachedFile : *{attachedFileList}" > 
	                	<div th:id="imgData + ${attachedFileStat.index}" >
					    	<!-- <span th:attr="onclick=|location.href='/api/attachedFiles/download/${attachedFile.savedFileName}'|" th:text="${#strings.substringAfter(attachedFile.savedFileName,'_')} + '&nbsp;&nbsp;' + '파일 크기: ' + ${attachedFile.fileSize} + '&nbsp;'"></span> -->
					    	<span th:text="${#strings.substringAfter(attachedFile.savedFileName,'_')} + ',&nbsp;&nbsp;' + 'File Size: ' + ${attachedFile.fileSize} + '&nbsp;'"></span>
				    		<img th:attr="src=@{|/images/cancel.jpg|}, onclick=|deleteFile('${attachedFileStat.index}','${attachedFile.idx}','${attachedFile.savedFileName}')|" th:style="'width: 15px; height: 15px'" />
				    	</div>
			    	</div>
                </td>        
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            
        </table> 
 
        <div class="pull-left">
            <a href="/notice-board/list" class="btn btn-default">Move to List</a>
        </div>
        <div class="pull-right">
            <button th:if="!*{idx}" id="insert" type="button" class="btn btn-primary">Register</button>
            <button th:if="*{idx}" id="update" type="button" class="btn btn-info">Update</button>
        </div>
        
        <!-- input type="hidden" -->
		<input type="hidden" name="idx" th:value="*{idx}"/>
	    <input type="hidden" name="createdDate" th:value="*{createdDate}"/>
	    
	    </form>
    </div>
    
	<!-- footer -->
    <div th:replace="layout/footer::footer"></div>

	<!-- script file -->
	<th:block th:replace="layout/script.html"></th:block>
  
	<!-- javascript -->
	<script>
		var insertFileArray = [];
		var deleteFileArray = [];
		var imgDataId = 0;
		var totalFileSize = 0;
		
		$(document).ready(function() {
			<!-- summernote setting -->
			  $('#summernote').summernote({
				height: 250,	// 에디터 높이
				minHeight: null,	// 최소 높이
				maxHeight: null,	// 최대 높이
				// focus: true,	// 에디터 로딩후 포커스를 맞출지 여부
				lang: "ko-KR",// 한글 설정
				placeholder: "The editor's max input size of bytes is 16777215."	//placeholder 설정
				
			});
			  
		  	<!-- File Drop -->
			$("#fileDrop").on("dragenter dragover", function(event){
		        event.preventDefault(); // 기본 효과를 막음
		    });
		});
		
		/* input tag event */
		$('#file').change(function () {
			var files = document.getElementsByName("file")[0].files;
			
			for (var i = 0; i < files.length; i++) {
				if(isValidFile(files[i])) {
		        	insertFileArray.push(files[i]);
		        	document.getElementById("totalFileSize").innerHTML = convertFileSize(totalFileSize);        	
		        	
					$("#attachedFileList").append('<div id="imgData' + imgDataId + '">' 
							   + '<span>' 
							   + files[i].name + ",&nbsp;&nbsp; File Size: " + convertFileSize(files[i].size) + "&nbsp;"
							   + '<img src="/images/cancel.jpg" style="width: 15px; height: 15px" onClick="cancelFile(' + imgDataId + ')" />' 
							   + '</span>'
							   + '</div>');
					
					imgDataId++;	
				} else {
					return false;
				}
			}
		});
		
		/* Drag & drop event */
		$("#fileDrop").on("drop", function(event){
	        event.preventDefault(); // 기본 효과를 막음
	        // 드래그된 파일의 정보
	        // event : jQuery의 이벤트
	     	// originalEvent : javascript의 이벤트
	        var files = event.originalEvent.dataTransfer.files;
		
	        for (var i = 0; i < files.length; i++) {
	        	if(isValidFile(files[i])) {
		        	insertFileArray.push(files[i]);
		        	document.getElementById("totalFileSize").innerHTML = convertFileSize(totalFileSize);
		        	
		        	$("#attachedFileList").append('<div id="imgData' + imgDataId + '">' 
							   + '<span>' 
							   + files[i].name + ",&nbsp;&nbsp; File Size: " + convertFileSize(files[i].size) + "&nbsp;"
							   + '<img src="/images/cancel.jpg" style="width: 15px; height: 15px" onClick="cancelFile(' + imgDataId + ')" />' 
							   + '</span>'
							   + '</div>');
		        	
		        	imgDataId++;
	        	} else {
					return false;
				}
	        }
		});
	
		// 새로 업로드한 파일을 최소하는 경우
		function cancelFile(fileId) {
			$('#imgData' + fileId).remove();
			
			insertFileArray[fileId] = null;
		}
		
		// 기존 업로드한 파일을 삭제하는 경우
		function deleteFile(fileId, idx, savedFileName) {
			$('#imgData' + fileId).remove();
			
			deleteFileArray.push(idx);
		}
	</script>
	
    <script th:if="!${noticeBoardDto?.idx}">
    	$('#insert').click(function () {
			// javascript validation(input tag Name, length || size, message name )
   			if(!(validationByLength("title", 50, "title") && validationBySize("content", 16777215, "content"))) {
   				return false;
   			}

   			var jsonData = $("#form").serializeObject();
 	       	var noticeBoardIdx;
 	    	
 	       	// 게시글 업로드
            $.ajax({
				url: "/api/notice-boards",
				type: "post",
                data: JSON.stringify(jsonData),
				dataType: "text",
				contentType: "application/json",
								
                success: function(msg) {
                	noticeBoardIdx = msg;
                	
                	var formData = new FormData();
                	
           			for(var i = 0; i < insertFileArray.length; i++) {
           				formData.append("files", insertFileArray[i]);
           			}
           			
           			formData.append("idx", noticeBoardIdx);
          			
           			// 파일 업로드
        			$.ajax({
        				url: "/api/notice-boards/attachedFile",
        				type: "post",
        				data: formData,
        				dataType: "text",
        	            enctype: 'multipart/form-data',
        	            processData: false,
        	            contentType: false,
        	            
        	            success: function(msg){
        	                location.href = '/notice-board/list';
        	            },
        	            error: function (msg) {
        	            	validatioMessageAlert((JSON.parse(msg.responseText)));
        	            	
        	            	// 게시글 삭제
        	           		$.ajax({
        	                    url: "/api/notice-boards/" + noticeBoardIdx,
        	                    type: "delete",
        	                    dataType: "text",
        	                    contentType: "application/json",
        	                    
        	                    success: function () {
        	                        console.log("NoticeBoard delete success.");
        	                    },
        	                    error: function () {
        	                    	console.log("NoticeBoard delete fail.");
        	                    }
        	                });
        	            }
                	});
              	},
              	error: function(msg) {                   
              		validatioMessageAlert((JSON.parse(msg.responseText)));
                }
			});
            
   		});
    </script>
    
    <script th:if="${noticeBoardDto?.idx}" th:inline="javascript">
    	$('#update').click(function () {
    		// javascript validation(input tag Name, length || size, message name )
   			if(!(validationByLength("title", 50, "title") && validationBySize("content", 16777215, "content"))) {
   				return false;
   			}
    		
    		var jsonData = $("#form").serializeObject();
        	var idx = document.getElementsByName('idx')[0].value;
        	
        	// 게시글 수정
            $.ajax({
                url: "/api/notice-boards/" + document.getElementsByName('idx')[0].value,
                type: "put",
                data: JSON.stringify(jsonData),
                dataType: "text",
                contentType: "application/json",
                
                success: function () {
                	// 만일 파일이 수정되지 않은 경우 '파일 업로드' 및 '파일 삭제'를 수행하지 않음
        			if(insertFileArray.length == 0 && deleteFileArray.length == 0) {
        				location.href = '/notice-board?idx=' + document.getElementsByName('idx')[0].value;     
        			}
                 	
        			// 파일 삭제  
                    if(deleteFileArray.length > 0) {
            			$.ajax({
               				url: "/api/notice-boards/attachedFile",
               				type: "delete",
               				data: JSON.stringify(deleteFileArray),
               				contentType: "application/json",
 
               	            success: function(){
               	            	console.log("AttachedFile delete success."); 
               	    			
               	            	if(insertFileArray.length == 0) 
               	            		location.href = '/notice-board?idx=' + document.getElementsByName('idx')[0].value;
               	            	
               	            },
               	            error: function () {
               	            	console.log("AttachedFile delete fail.");
               	           	}
               	    	});
                    }
        			
                 	// 파일 업로드
                    if(insertFileArray.length > 0) {
               			var formData = new FormData();
               			
               			for(var i = 0; i < insertFileArray.length; i++) {
               				formData.append("files", insertFileArray[i]);
               			}
               			
               			formData.append("idx", idx);
               			
            			$.ajax({
            				url: "/api/notice-boards/attachedFile",
            				type: "post",
            				data: formData,
            				dataType: "text",
            	            enctype: 'multipart/form-data',
            	            processData: false,
            	            contentType: false,
            	                      
            	            success: function(){
            	            	location.href = '/notice-board?idx=' + document.getElementsByName('idx')[0].value;    	
            	            }, 
            	            error: function (msg) {
            	            	validatioMessageAlert((JSON.parse(msg.responseText)));
            	            } 
                    	});
                    }                	
                },
                error: function () {
                	validatioMessageAlert((JSON.parse(msg.responseText)));
                }
            });      	
    	});
    </script>
    
</body>
</html>