<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- css -->
<th:block th:replace="layout/css.html"></th:block>

<title>Member List</title>
</head>
<body>
	<!-- header -->
	<div th:replace="layout/header::header"></div>

	<div class="container">
		<form name="form" id="form" th:object="${searchDto}" action="#"  >
	
		<div class="page-header">
			<h1>게시글 목록</h1>
		</div>
		
		<div class="pull-right" style="width: 100px; margin: 10px 0;">
			<button id="search" type="button" class="btn btn-primary btn-block">검색</button>
		</div>
		
		<div class="pull-right" style="width: 200px; margin: 10px 10px; ">
			<input type="text" name="keyword" class="col-md-1 form-control input-sm" th:value="${searchDto?.keyword}"/>
		</div>
		
		<div class="pull-right" style="width: 100px; margin: 10px 10px; ">
			<select name="searchType" th:field="*{searchType}" class="form-control input-sm">
	            <option th:value="MEMBER_ID">아이디</option>
	            <option th:value="KOREAN_NAME">이름</option>
	            <option th:value="EMAIL">이메일</option>
	        </select>
		</div>
		
		<br /> <br /> <br />
		<div id="mainHide">
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="col-md-1">idx</th>
						<th class="col-md-1">아이디</th>
						<th class="col-md-1">이름</th>
						<th class="col-md-2">이메일</th>
						<th class="col-md-2">유형</th>
						<th class="col-md-1">권한 유형</th>
						<th class="col-md-2">생성 날짜</th>
						<th class="col-md-2">수정 날짜</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="memberDto : ${memberDtoList}">
						<td th:text="${memberDto.idx}"></td>
						<td>
							<a th:href="'/member?idx='+${memberDto.idx}" th:text="${memberDto.memberId}"></a>
							&nbsp;
							<!-- <img th:if="${memberDto.newIcon}" th:attr="src=@{|/images/new_icon.png|}" th:style="'width: 15px; height: 15px'" /> --> 
						</td>
						<td th:text="${memberDto.koreanName}"></td>
						<td th:text="${memberDto.email}"></td>
						
						
						<td th:if="${memberDto.memberType?.name() == 'FACULTY'}" th:text="교수"></td>
						<td th:if="${memberDto.memberType?.name() == 'FULL_TIME_PhD'}" th:text="'박사 ' + '-' + ' 풀타임'"></td>
						<td th:if="${memberDto.memberType?.name() == 'PART_TIME_PhD'}" th:text="'박사   ' + '-' + ' 파트타임'"></td>
						<td th:if="${memberDto.memberType?.name() == 'FULL_TIME_MS'}" th:text="'석사 ' + '-' + ' 풀타임'"></td>
						<td th:if="${memberDto.memberType?.name() == 'PART_TIME_MS'}" th:text="'석사 ' + '-' + ' 파트타임'"></td>
						<td th:if="${memberDto.memberType?.name() == 'BS'}" th:text="'학부' + '연구생"></td>
						
						<td th:if="${memberDto.authorityType?.name() == 'ROOT'}" th:text="root"></td>
						<td th:if="${memberDto.authorityType?.name() == 'MANAGER'}" th:text="관리자"></td>
						<td th:if="${memberDto.authorityType?.name() == 'GENERAL'}" th:text="일반회원"></td>
						<td th:if="${memberDto.authorityType?.name() == 'NON_MEMBER'}" th:text="비회원"></td>
		
						
						
						<td th:text="${#temporals.format(memberDto.createdDate,'yyyy-MM-dd HH:mm')}"></td>
						<td th:text="${#temporals.format(memberDto.lastModifiedDate,'yyyy-MM-dd HH:mm')}"></td>
						
					</tr>
				</tbody>
			</table>
		</div>
		<br>
		
		<div class="pull-right" style="width: 100px; margin: 10px 0;">
			<a href="/member/form" class="btn btn-primary btn-block">등록</a>
		</div>

		<!-- Pagination -->
		<nav aria-label="Page navigation" style="text-align: center;">
			<ul class="pagination" th:with="startNumber=${T(Math).floor(memberDtoList.number/10)}*10+1, endNumber=(${memberDtoList.totalPages} > ${startNumber}+9) ? ${startNumber}+9 : ${memberDtoList.totalPages}">
				<li>
					<a aria-label="Previous" href="/member/list?page=1">&laquo;</a>
				</li>
				<li th:style="${memberDtoList.first} ? 'display:none'">
					<a th:href="@{/member/list(page=${memberDtoList.number})}">&lsaquo;</a>
				</li>

				<li th:each="page :${#numbers.sequence(startNumber, endNumber)}" th:class="(${page} == ${memberDtoList.number}+1) ? 'active'">
					<a th:href="@{/member/list(page=${page})}" th:text="${page}"><span class="sr-only"></span></a>
				</li>

				<li th:style="${memberDtoList.last} ? 'display:none'">
					<a th:href="@{/member/list(page=${memberDtoList.number}+2)}">&rsaquo;</a>
				</li>
				<li>
					<a aria-label="Next" th:href="@{/member/list(page=${memberDtoList.totalPages})}">&raquo;</a>
				</li>
			</ul>
		</nav>
		<!-- /Pagination -->
		
		</form>
	</div>

	<!-- footer -->
	<div th:replace="layout/footer::footer"></div>
	
	<!-- script file -->
	<th:block th:replace="layout/script.html"></th:block>
	
	<script>
		$('#search').click(function () {
			document.form.action = '/member/list';
			document.form.method = 'get';
			document.form.submit();
		});
	</script>
	
</body>
</html>