<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form name="form" id="form" th:object="${userDto}" action="#"  >
    
		<h1>메인 페이지</h1>
		<hr>
		<a sec:authorize="isAnonymous()" th:href="@{/member/login}">로그인</a>
		<a sec:authorize="isAuthenticated()" th:href="@{/member/logout}">로그아웃</a>
		<a sec:authorize="isAuthenticated()" th:href="@{'/member?idx='+*{idx}}">내정보</a>
		<a sec:authorize="isAnonymous()" th:href="@{/member/form}">회원가입</a>
		
		
		<br>
		<br>
		사용자 권한: 
		<a sec:authorize="hasAuthority('root')">root</a>
		<a sec:authorize="hasAuthority('manager')">manager</a>
		<a sec:authorize="hasAuthority('general')">gerneral</a>
		
		
		<br>
		<br>
		사용자 권한 확인: 
		<!-- <span sec:authentication="principal.authorities"></span> -->

	</form>
</body>
</html>
